---
//import { Icon } from 'astro-icon'
export interface Props {
	svg: string
	size?: number
	notification: string
	title: string
	text: string
}
const { svg, size = 102, notification, title, text } = Astro.props
---

<div class="relative mx-auto w-auto bg-ternary p-2 flex-col-5" area-label={title}>
	<div class="relative inline-block border-3 border-primary bg-secondary p-3">
		<!-- <Icon name={svg} size={size} /> -->
		<p class="absolute bottom-2 right-3 inline-block rounded-full bg-primary p-2 text-sm">{notification}</p>
	</div>
	<h4 class="text-[md,dark,center]">{title}</h4>
	<p class="text-base">
		{text}
	</p>
</div>
